# 依赖包目录
/node_modules
/dist

# 环境文件
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# 日志文件
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs
*.log

# 编辑器目录和文件
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# 运行时数据
.vscode/
.idea/
tmp/
temp/ 
node_modules

# 虚拟环境
.venv

# 临时文件
*.tmp
*.tmp.*
*.tmp_*

# 构建目录和大文件
*.pkg
*.exe
*.app
*.dmg
build/
dist/
